/* CSS Document */

body{
	font-family:"‚l‚r ‚o–¾’©", "×–¾’©‘Ì", "ƒqƒ‰ƒMƒm–¾’© Pro W3";
	margin:30px 50px 50px 50px;
	font-size:12px;
}

a{
	text-decoration:none;
	color:#0000FF;
}

a:hover{
	color:#FF0000;
}

.selected{
	background-color:#0000CC;
	color:#FFFFFF;
	text-align:center;
}
.head{
	margin-bottom:10px;
}
.navitable{
	text-align:center;
}

.description{
	width:600px;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
}
.session{
	padding-left:1em;
	font-size:14px;
}
.description2{
	width:500px;
	margin-top:20px;
	margin-left:auto;
	margin-right:auto;

}