/* CSS Document */

body{
	margin-top:90px;
}

.text2{
	margin-bottom:10px;
	margin-top:10px;
	font-size:10px;
	font-family:"‚l‚r ‚oƒSƒVƒbƒN", Osaka, "ƒqƒ‰ƒMƒmŠpƒS Pro W3";
}
.text1{
	margin-bottom:10px;
	margin-top:10px;
	font-size:10px;
	font-family:"‚l‚r ‚o–¾’©", "×–¾’©‘Ì", "ƒqƒ‰ƒMƒm–¾’© Pro W3";
}